
<style>
@font-face {
  font-family: 'Proxima Vera Bold';
  src: url('/path/to/fonts/ProximaVera-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.table-bordered {
  font-family: 'Proxima Vera Bold', sans-serif;
}

  body {
    background-color: #e7e7e7;
  }

  .list-group li {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  .but {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5fb523;
    padding: 2rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  .but a{
    color:white;
    border: 0.5px solid white;
    padding: 1rem 5rem;
  }

  .list {
    background-color: #fff;
  }
</style>

<div class="p-2 mt-4">
  
<%= link_to groups_path, class: "back-link" do %>
  <i class="fas fa-arrow-left"></i> Back to Categories
<% end %>

  <% if @entities.any? %>
    <ul class="list-group">
      <li class="table-bordered p-4" align="center">Total amount: <%=@total_amount%></li>

      <% @entities.each do |entity| %>
        <div class="d-flex justify-content-between mt-2 p-2 table-bordered list">
          <div>
            <li>
              <%= entity.name %>
              <li> <%= entity.created_at %></li>
            </li>
          </div>
          <li> <%= entity.amount %>$</li>
        </div>
      <% end %>
    </ul>
  <% else %>
  <p style="color: #555;font-size:2em; font-style: italic; text-align: center; margin-top:5rem;">No entities in this group yet.</p>

  <% end %>

  <div class="but">
    <%= link_to "Add New", new_group_entity_path(@group) %>
  </div>
</div>
