<div class="p-2 mt-4">
  <% if @entities.any? %>
    <ul class="list-group">
      <li class="table-bordered p-4 d-flex justify-content-between">
        <p>Total amount:</p>
        <p><%= @total_amount %>$</p>
      </li>

      <% @entities.each do |entity| %>
        <li class="d-flex justify-content-between mt-2 p-2 table-bordered list">
          <div>
            <span><%= entity.name %></span>
            <span><%= entity.created_at.strftime('%B %d, %Y %H:%M:%S') %></span>
          </div>
          <span><%= entity.amount %>$</span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p style="color: #555; font-size: 2em; font-style: italic; text-align: center; margin-top: 5rem;">
      No entities in this group yet.
    </p>
  <% end %>

  <div class="but">
    <%= link_to "Add New", new_group_entity_path(@group) %>
  </div>
</div>
