<div class="container mt-4">
  <%= form_with(model: [@group, @entity], local: true) do |form| %>
    <% if @entity.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h4>
        <ul>
          <% @entity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :amount, class: 'form-label' %>
      <%= form.number_field :amount, class: 'form-control', required: true %>
    </div>

    <div class="but">
      <%= form.submit "Create Entity", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<style>
.but {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #5fb523;
  padding: 2rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.but input {
  background-color: transparent;
  color:white;
  border: 1px solid white;
  padding: 1rem 5rem;
}
</style>