<<<<<<< HEAD
<% if user_signed_in? %>
<div class="navBar d-flex justify-content-between">
  <div>
    <h3>
      <% if defined?(@group) && @group.present? %>
        <%= @group.name %> <br>
      <% elsif request.path == groups_path %>
        Categories
      <% elsif defined?(@entity) && @entity.present? %>
        <%= @entity.name %>
      <% else %>
      <% end %>
    </h3>
  </div>

  <div>
    <span class="menu-icon" onclick="toggleMenu()">☰</span>
    <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: 'logout', id: 'logoutButton') %>
  </div>
</div>

<script>
  function toggleMenu() {
    var menuIcon = document.querySelector('.menu-icon');
    var logoutButton = document.getElementById('logoutButton');

    if (menuIcon.style.display === 'none') {
      menuIcon.style.display = 'inline-block';
      logoutButton.style.display = 'none';
    } else {
      menuIcon.style.display = 'none';
      logoutButton.style.display = 'inline-block';
    }
  }
</script>
<% end %>
=======
<style>
  .navBar {
    background-color: #3778c2;
    padding: 4rem;
  }

  .navBar button {
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    font-weight: bold; /* Corrected misspelling of "weight" */
    border-color: #fff;
  }
</style>

<div class="navBar d-flex justify-content-between">
 
  <div>
  <h1>
    <% if defined?(@group) && @group.present? %>
      <%= @group.name %> <br>
    <% elsif request.path == groups_path %>
      Categories
    <% elsif defined?(@entity) && @entity.present? %>
      <%= @entity.name %>
    <% else %>
      
    <% end %>
  </h1>
</div>
<% if user_signed_in? %>
<%= button_to("Log Out", destroy_user_session_path, method: :delete, class: 'logout') %>
<% end %>
</div>

>>>>>>> 22234b1 (add style)
